<header class="header">
    <div class="header__container">
        <nav class="nav__links">
            <a href="/">Inicio</a>
        </nav>
    </div>
</header>
<style>
.header {
    background-color: var(--clr-primary-900);
    padding: .6rem 1rem;
}

.header__container {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.nav__links a {
    font-weight: 500;
    color: var(--clr-primary-50);
}

.nav__links a:hover {
    text-decoration: underline;
}
</style>
