---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../sections/Hero.astro';
import Projects from '../sections/Projects.astro';
import Skills from '../sections/Skills.astro';
import AboutMe from '../sections/AboutMe.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Joel Ccasane | Front-End Developer">
    <Header></Header>
    <main>
        <Hero></Hero>
        <Projects></Projects>
        <Skills></Skills>
        <AboutMe></AboutMe>
    </main>
    <Footer></Footer>
</Layout>
