---
import '@fontsource/orelega-one';
import '@fontsource-variable/faustina';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Joel Ccasane | Front-End Developer">
    <Header></Header>
    <main>
        <Hero></Hero>
        <Projects></Projects>
    </main>
    <Footer></Footer>
</Layout>

<style></style>
