---
import Layout from '../layouts/Layout.astro';
import Header from '../shared/Header.astro';
import Hero from './home/sections/Hero.astro';
import HomeProjects from './home/sections/HomeProjects.astro';
import Skills from './home/sections/Skills.astro';
import AboutMe from './home/sections/AboutMe.astro';
import Footer from '../shared/Footer.astro';
---

<Layout title="Joel Ccasane - Desarrollador Front-End">
	<Header></Header>
    <main>
        <Hero></Hero>
        <HomeProjects></HomeProjects>
        <Skills></Skills>
				<AboutMe></AboutMe>
    </main>
		<Footer></Footer>
</Layout>
