---
import Layout from '../layouts/Layout.astro';
import Header from '../shared/Header.astro';
import Hero from './home/sections/Hero.astro';
import Projects from './home/sections/Projects.astro';
import Skills from './home/sections/Skills.astro';
import AboutMe from './home/sections/AboutMe.astro';
import Footer from '../shared/Footer.astro';
---

<Layout title="Joel Ccasane | Front-End Developer">
	<Header></Header>
    <main>
        <Hero></Hero>
        <Projects></Projects>
        <Skills></Skills>
				<AboutMe></AboutMe>
    </main>
		<Footer></Footer>
</Layout>
