---
import Layout from '../layouts/Layout.astro';
import Header from '../shared/Header.astro';
import SectionProjects from './projects/sections/SectionProjects.astro';
import Footer from '../shared/Footer.astro';
---

<Layout title="Proyectos | Joel Ccasane">
<Header></Header>
<main>
<SectionProjects></SectionProjects>
</main>
<Footer></Footer>
</Layout>
