---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos | Joel Ccasane">
<main>
    <p>¡Obreros Trabajando!</p>
    <a href="/">Inicio</a>
</main>
</Layout>

<style>
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

a {
    font-size: 0.875rem;
    padding: .01rem .7rem .10rem .7rem;
    border-radius: 5px;
    color: var(--clr-primary-50);
    background-color: var(--clr-primary-900);
    transition: background-color .29s ease;
}

a:hover {
    background-color: var(--clr-primary-800);
}
</style>
