---
const year = new Date().getFullYear();
---

<footer class="footer">
    <div class="footer__container">
        <p>Copyright © <span id="year">{year}</span> <a href="" class="footer__user" target="_blank" rel="noopener noreferrer">Joel Ccasane</a>. Todos los derechos reservados</p>
    </div>
</footer>

<style></style>
