<header class="header">
    <div class="header__container">
        <nav class="nav__links">
            <a class="nav__link" href="/">Inicio</a>
            <a class="nav__link" href="/">Proyectos</a>
            <a class="nav__link" href="#about-me">Sobre Mí</a>
        </nav>
    </div>
</header>
<style>
.header {
    background-color: var(--dark-charcoal);
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 690px;
    margin: auto;
    padding: 0.6rem 1rem;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav__link {
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 600;
    color: var(--light-beige);
    text-decoration: none;
    transition: color 0.29s ease;
}
.nav__link:hover {
    color: var(--medium-gray);
}
</style>
