<header class="header">
    <div class="header__container">
        <nav class="nav__links">
            <a href="/">Inicio</a>
        </nav>
    </div>
</header>
<style>
.header {
    background-color: var(--dark-charcoal);
}

.header__container {
    display: flex;
    max-width: 600px;
    margin: auto;
    padding: .6rem 1rem;
}

.nav__links a {
    font-weight: 500;
    color: var(--light-beige);
    transition: color .29s ease;
}

.nav__links a:hover {
    text-decoration: underline;
}
</style>
