<header class="header">
    <div class="header__container">
        <nav class="nav__links">
            <a class="nav__link" href="#about-me">Sobre Mí</a>
            <a class="nav__link logo" href="/">Joel Ccasane</a>
            <a class="nav__link" href="/">Projectos</a>
        </nav>
    </div>
</header>
<style></style>
