---
import {hero} from "../data/data.json";
import ButtonHero from "./ButtonHero.astro";
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__data">
            <div class="hero__title">
                <h1>Hola, Soy {hero.name}.</h1>
            </div>
            <p><strong>Front-end Developer</strong> con sólidos conocimientos de JavaScript y experiencia en la creación de aplicaciones web responsivas e interactivas.</p>
            <p>{hero.description[1]}<p>
            <ButtonHero></ButtonHero>
        </div>
    </div>
</section>

<style>

.hero {
    padding: 4rem 1rem;
    background: var(--light-beige);
}

.hero__container {
    max-width: 690px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.hero__data {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.hero__title h1 {
    font-size: 3.8rem;
    color: var(--dark-charcoal);
    font-weight: 100;
}

.hero__data p {
    width: 100%;
    max-width: 450px;
    margin: 0.375rem 0;
    font-size: 17.5px;
    color: var(--dark-charcoal);
}
</style>
