---
import {hero} from "../data/data.json";
import HeroButton from "./HeroButton.astro";
---

<section class="hero">
    <div class="hero__container">
        <div class="hero__data">
            <div class="hero__title">
                <h1>Hola, Soy {hero.name}.</h1>
            </div>
            <p><strong>Desarrollador Front-End</strong> con sólidos conocimientos de JavaScript y experiencia en la creación de aplicaciones web responsivas e interactivas.</p>
            <p>{hero.description[1]}<p>
            <HeroButton></HeroButton>
        </div>
    </div>
</section>

<style>
.hero {
    padding: 1.8rem  1rem;
    background: var(--light-beige);
}

.hero__container {
    width: 100%;
    max-width: 690px;
    margin: auto;
}

.hero__data {
    width: 100%;
    max-width: 550px;
}

.hero__title h1 {
    font-weight: 100;
    line-height: 1;
    font-size: 3.5rem;
    color: var(--dark-charcoal);
}

.hero__data p {
    margin: 0.875rem 0;
    font-size: 1rem;
    color: var(--dark-charcoal);
}
</style>
