<a href="/">Más proyectos</a>

<style>
a {
    font-family: var(--font-text);
    font-size: 0.875rem;
    padding: .10rem .6rem .35rem .6rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-beige);
    background-color: var(--dark-charcoal);
    transition: background-color .29s ease;
}

a:hover {
    background-color: var(--medium-gray);
}
</style>
