---
interface Props {
    stack: string[];
}
const { stack } = Astro.props;
---
<div class="project__stack">
    {stack.map((item) => (
        <div>
            <span class="stack__item">{item}</span>
        </div>
    ))}
</div>

<style>
.project__stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.875rem;
}

.stack__item {
    display: inline-flex;
    justify-content: center;
    padding: 0rem .5rem;
    border-radius: 5px;
    font-size: 0.875rem;
    font-family: var(--font-text);
    color: var(--light-beige);
    background-color: var(--medium-gray);
}
</style>
