---
import ProjectStack from '../components/ProjectStack.astro';

interface Props {
    title: string;
    description: string;
    stack: string[];
    href: string;
}
const { title, description, stack, href } = Astro.props;
---
<div class="card__projects">
    <article class="card__data">
        <a href={href} target="_blank" rel="noopener noreferrer">{title}</a>
        <ProjectStack stack={stack}></ProjectStack>
        <p>{description}</p>
    </article>
</div>

<style>
.card__projects {
    margin-bottom: 1rem;
}

.card__data a {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--dark-charcoal);
}

.card__data p {
    margin-top: .2rem;
}

.card__data a:hover {
    text-decoration: underline;
}
</style>
