<a href="/projects" rel="noopener noreferrer" >Más proyectos</a>

<style>
a {
	font-size: .875rem;
	padding: .08rem .7rem .30rem;
	border-radius: 5px;
	color: var(--clr-primary-50);
	background-color: var(--clr-primary-900);
	transition: background-color .29s ease;
}

a:hover {
	background-color: var(--clr-primary-800);
}
</style>
