---
interface Props {
    stack: string[];
}
const { stack } = Astro.props;
---
<div class="project__stack">
    {stack.map((item) => (
        <div class="stack__item">
            <span>{item}</span>
        </div>
    ))}
</div>

<style>
.project__stack {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .875rem;
}

.stack__item span{
    font-family: var(--font-text);
    font-size: .75rem;
    padding: .01rem .6rem .15rem;
    border-radius: 5px;
    color: var(--light-beige);
    background-color: var(--medium-gray);
}
</style>
