---
import ProjectStack from '../components/ProjectStack.astro';

interface Props {
    title: string;
    description: string;
    stack: string[];
    href: string;
}
const { title, description, stack, href } = Astro.props;
---
<article class="card__projects">
	<a href={href} target="_blank" rel="noopener noreferrer">{title}</a>
	<ProjectStack stack={stack}></ProjectStack>
	<p>{description}</p>
</article>

<style>
.card__projects {
	margin-bottom: 1.2rem;
}

.card__projects a {
	font-size: 1rem;
	font-weight: 700;
	color: var(--clr-primary-900);
}

.card__projects a:hover {
	text-decoration: underline;
}
</style>
