---
import ProjectCard from "./ProjectCard.astro";
import {projects} from "../data/data.json"
import ProjectsButton from "./ProjectsButton.astro";
---

<section class="projects" id="projects">
    <div class="projects__container">
        <h2>Proyectos</h2>
        {projects.map((pro) => (
            <ProjectCard
                title={pro.title}
                description={pro.description}
                stack={pro.stack}
            ></ProjectCard>
        ))}
        <ProjectsButton></ProjectsButton>
    </div>
</section>

<style>
.projects {
    padding: 1.5rem 1rem;
    background-color: var(--light-beige);
}

.projects__container {
    max-width: 690px;
    width: 100%;
    margin: auto;
}

.projects__container h2 {
    font-weight: 100;
    font-size: 2.5rem;
    text-decoration: underline;
    color: var(--dark-charcoal);
    margin-bottom: 1.2rem;
}
</style>
