<a href="/">Más proyectos</a>

<style>
a {
    border-radius: 5px;
    font-size: 0.875rem;
    padding: .10rem .5rem .30rem .5rem;
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--light-beige);
    background-color: var(--dark-charcoal);
    transition: background-color .4s ease;
}

a:hover {
    background-color: var(--medium-gray);
}
</style>
