---
interface Props {
    stack: string[];
}
const { stack } = Astro.props;
---
<ul class="skills__icons">
    {stack.map((item) => (
        <li>{item}</li>
    ))}
</ul>


<style>
.skills__icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .7rem;
    list-style: none;
}

.skills__icons li{
    font-size: 0.875rem;
    font-family: var(--font-text);
    padding: 0 .7rem .15rem;
    border-radius: 5px;
    color: var(--dark-charcoal);
    color: var(--light-beige);
    background-color: var(--medium-gray);
}
</style>
