---
import {hero} from '../../../data/data-home.json';
import HeroButton from '../components/HeroButton.astro';
---

<section class="hero">
	<div class="hero__container">
		<h1>Hola, Soy {hero.name}</h1>
		<p><strong>Desarrollador Full-Stack</strong>  con experiencia en Angular, Vue.js, React.js, Spring Boot, JavaScript y TypeScript. Especializado en el desarrollo de aplicaciones web modernas, escalables y de alto rendimiento.</p>
		<p>{hero.description}</p>
		<HeroButton></HeroButton>
	</div>
</section>

<style>
.hero {
	padding: 3rem 1rem 2rem;
}

.hero__container {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

.hero__container h1 {
	line-height: 1;
	font-size: 3.2rem;
	text-decoration: underline;
}

.hero__container p {
	margin: 0.875rem 0;
}
</style>
