---
import {skills} from '../data/home-data.json';
import SkillStack from '../components/SkillStack.astro';
---

<section class="skills">
	<div class="skills__container">
		<h2>Habilidades</h2>
		<SkillStack stack={skills.stack}></SkillStack>
	</div>
</section>

<style>
.skills {
	padding: 0 1rem 2rem;
}

.skills__container {
	width: 100%;
	max-width: 640px;
	margin: auto;
}

.skills__container h2 {
	font-size: 1.8rem;
	margin-bottom: .6rem;
}
</style>
