---
import Icon from '../../../icon/Icon.astro';

interface Props {
	stack: string[];
}
const { stack = [] } = Astro.props;
---
<ul class="skills__icons">
	{stack.map((item) => (
		<li><Icon iconName={item} /> {item}</li>
	))}
</ul>


<style>
.skills__icons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: .7rem;
}

.skills__icons li{
	font-size: .875rem;
	display: inline-flex;
	align-items: center;
	gap: .2rem;
	border-radius: 10px;
	padding: .10rem .7rem .08rem;
	background-color: var(--clr-primary-200);
}
</style>
