---
import Icon from '../../../icon/Icon.astro';

interface Props {
	stack: string[];
	noMarginBottom?: boolean;
}
const { stack = [], noMarginBottom = false } = Astro.props;
---
<ul class={`skills__icons ${noMarginBottom ? 'no-margin' : ''}`}>
	{stack.map((item) => (
		<li><Icon iconName={item} /> {item}</li>
	))}
</ul>


<style>
.skills__icons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: .8rem;
	margin-bottom: .4rem;
}

.skills__icons.no-margin {
  margin-bottom: 0;
}

.skills__icons li{
	font-size: .875rem;
	display: inline-flex;
	align-items: center;
	gap: .3rem;
	border-radius: 9px;
  padding: .06rem .7rem .08rem;
	background-color: var(--clr-primary-200);
	transition: all .29s ease;
}

.skills__icons li:hover {
	background-color: var(--clr-primary-300);
	cursor: default;
}
</style>
