---
import {aboutMe} from '../data/data.json'
---

<section class="about-me">
	<div class="about-me__container">
		<h2>Sobre mí</h2>
		<p>{aboutMe.description[0]}</p>
		<p>{aboutMe.description[1]}</p>
		<p>{aboutMe.description[2]}</p>
	</div>
</section>

<style>
.about-me {
	padding: 0 1rem 3rem;
}

.about-me__container {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.about-me__container h2 {
	font-size: 1.8rem;
}

.about-me__container p {
	margin-bottom: .6rem ;
}
</style>
