---
import '@fontsource/orelega-one';
import '@fontsource-variable/faustina';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
	--clr-primary-50:  #faf7f7;
	--clr-primary-100: #f3f0f0;
	--clr-primary-200: #e8e5e5;
	--clr-primary-300: #d8d5d5;
	--clr-primary-400: #b3b0b0;
	--clr-primary-500: #939090;
	--clr-primary-600: #6b6868;
	--clr-primary-700: #575555;
	--clr-primary-800: #393737;
	--clr-primary-900: #191717;

	--font-title: 'Orelega One', system-ui, serif;
	--font-text: 'Faustina Variable', system-ui, serif;
}

*{
margin: 0;
padding: 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	font-family: var(--font-text);
	color: var(--clr-primary-900);
}

a, ul{
	text-decoration: none;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	text-wrap: balance;
	font-weight: 100;
	font-family: var(--font-title);
}

img, svg{
	height: auto;
	max-width: 100%;
}

main {
	flex-grow: 1;
	background-color: var(--clr-primary-50);
}
</style>
