---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
:root {
    --light-beige: #F1EFEF;
    --soft-olive: #CCC8AA;
    --medium-gray: #7D7C7C;
    --dark-charcoal: #191717;

    --font-title: 'Orelega One', system-ui;
    --font-text: 'Faustina Variable', serif;
}

*{
	margin: 0;
	padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

p{
    text-wrap: pretty;
    font-family: var(--font-text);
}

h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-family: var(--font-title);
}

img, svg{
	height: auto;
	max-width: 100%;
}

main {
	flex-grow: 1;
}
</style>
